{% extends 'store/base.html' %}
{% block content %}
	<!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About Us</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Our Story ...</p>
                </div>
            </div>
        </header>
        <div class="container">
            <div class="row">
                <center>
                    <div class="col-8">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing elit egestas orci suspendisse justo blandit ullamcorper ultrices ridiculus, praesent massa vel gravida vitae auctor nostra felis posuere placerat pellentesque mattis facilisi. Netus mauris tristique porta volutpat cursus iaculis, curabitur euismod fringilla ultrices natoque integer suscipit, nec potenti himenaeos placerat tempus. Eu lectus senectus urna ultricies bibendum ac dictum risus libero, dictumst ultrices est augue tempus erat viverra natoque velit, nullam volutpat mauris integer convallis lacus commodo pulvinar.</p>

                        <p>Lobortis blandit dis neque varius pretium morbi, pharetra augue ante diam sodales, mollis praesent himenaeos in conubia. Scelerisque accumsan a nam tempor ac platea habitasse, bibendum ornare metus hendrerit enim aenean, mollis ut praesent iaculis augue dictumst. Dui habitasse himenaeos mattis cum curabitur iaculis nascetur facilisis hendrerit, aliquet sagittis diam dictumst suspendisse eros tortor.
                        </p>
                    </div>
                </center>
            </div>
        </div>
{% endblock %}