{% extends 'store/base.html' %}
{% block content %}
	<!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Login</h1>
                    <p class="lead fw-normal text-white-50 mb-0">login to your account ...</p>
                </div>
            </div>
        </header>
        <div class="container">
            <div class="row justify-content-center">

                    <div class="col-8 mt-5">
                        <form method="POST" action="{% url 'login' %}">
                            {% csrf_token %}
                            <div class="mb-3">
                                <input type="text" class="form-control" name="username" placeholder="Enter Your username">
                            </div>
                            <div class="mb-3 mt-3">
                                <input type="password" class="form-control" name="password" placeholder="Enter Your Password">
                            </div>
                            <div class="mb-3 form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Remember me</label>
                            </div>
                            <button type="submit" class="btn btn-secondary">Submit</button>
                        </form>
                        <div>
                            <a class="nav-link" href="{% url 'register' %}">You Don't Have Account Register here.</a>
                        </div>
                        <br/><br/>
                        <br/><br/>
                        <br/><br/>
                        <br/><br/>
                        <br/><br/>

                    </div>

            </div>
        </div>
{% endblock %}